################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Interview
/Interview/bin
/Interview/obj/Debug
/Interview/Interview.csproj.user
/packages
/Interview.Tests/bin/Debug
/Interview.Tests/obj/Debug/Interview.Tests.pdb
/Interview.Tests/obj/Debug/Interview.Tests.dll
/Interview.Tests/obj/Debug/Interview.Tests.csproj.FileListAbsolute.txt
/Interview.Tests/obj/Debug/Interview.Tests.csproj.CopyComplete
/Interview.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs
/Interview.Library.Tests/bin/Debug
/Interview.Library.Tests/obj
/Interview.Models/bin/Debug
/Interview.Models/obj
/Interview.Services/bin/Debug
/Interview.Services/obj
/Interview.Services.Tests/bin/Debug
/Interview.Services.Tests/obj
